<a href="https://colab.research.google.com/github/shreeeswar/eswar/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
d = int(input("enter the number"))
e = int(input("enter the number"))

# function
def divisibility_check(k):
  if (k%3==0):
    print(str(k) +" is divisible by 3")
  else:
      print(str(k) +" is not divisible by 3")
divisibility_check(a)
divisibility_check(b)
divisibility_check(c)
divisibility_check(d)
divisibility_check(d)

enter the number4
enter the number5
enter the number6
enter the number7
enter the number8
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
7 is not divisible by 3

In [ ]:
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
d = int(input("enter the number"))
e = int(input("enter the number"))

# function
def divisibility_check_3 (k):
  if (k%3==0):
    print(str(k) +" is divisible by 3")
  else:
    print(str(k) + "is not divisible by 3")  
def divisibility_check_2 (p):
  if (p%3==0):
    print(str(p) +" is divisible by 2")
  else:
    print(str(p) + "is not divisible by 2")
divisibility_check_3(a)
divisibility_check_3(b)
divisibility_check_3(c)
divisibility_check_3(d)
divisibility_check_2(e)

enter the number3
enter the number4
enter the number5
enter the number6
enter the number7
3 is divisible by 3
4is not divisible by 3
5is not divisible by 3
6 is divisible by 3
7is not divisible by 2

In [ ]:
for i in range(1,10):
  a = int(input("enter the number"))
  if (a%3 ==0 ):
    print(str(a)+ "is divisible by 3")
  else:
    print(str(a)+ "is not divisible by 3")

enter the number22
22is not divisible by 3
enter the number23
23is not divisible by 3
enter the number24
24is divisible by 3
enter the number25
25is not divisible by 3
enter the number26
26is not divisible by 3
enter the number27
27is divisible by 3
enter the number28
28is not divisible by 3
enter the number29
29is not divisible by 3
enter the number30
30is divisible by 3

In [ ]:
store = ["banana","mango","guava","pineapple","oranga"]
store.append("grapes")
store.remove("mango")
store.insert(0,"mango")
store.append("grapes")
store.sort()
print(store)

['banana', 'grapes', 'grapes', 'guava', 'mango', 'oranga', 'pineapple']

In [ ]:
#tuple
fruits=("banana","mango","guava","pineapple","orange")
student=[("shree eswar","maths","85"),("aravind","maths","89")]
print(student)
print(fruits)

[('shree eswar', 'maths', '85'), ('aravind', 'maths', '89')]
('banana', 'mango', 'guava', 'pineapple', 'orange')

In [ ]:
fruits={"banana","mango","orange","pineapple","orange"}
print(fruits)

{'orange', 'pineapple', 'banana', 'mango'}

In [ ]:
student={"name" : "eswar" , "subjects" : "maths" , "marks" : "89"} 
print(student)

{'name': 'eswar', 'subjects': 'maths', 'marks': '89'}

In [ ]:
#list of student dictionary
student={"name" : "eswar" , "subjects" : "maths" , "marks" : "89" }, {"name" : "tridev" , "subjects" : "science" , "marks" : "89" },{"name" : "anand" , "subject" : "english" , "marks" : "87" }
print(student)

({'name': 'eswar', 'subjects': 'maths', 'marks': '89'}, {'name': 'tridev', 'subjects': 'science', 'marks': '89'}, {'name': 'anand', 'subject': 'english', 'marks': '87'})

In [ ]:
TRY
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
d = int(input("enter the number"))
e = int(input("enter the munber"))

#function
def divisibility_check(k):
  if (k%3==0):
    print(str(k) +" divisible by 3")
  else:
    print(str(k) +" not divisible by 3")
divisibility_check(a)
divisibility_check(b)
divisibility_check(c)
divisibility_check(d)
divisibility_check(e)

enter the number3
enter the number4
enter the number5
enter the number6
enter the munber7
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3

In [ ]:
TRY
a = int(input("enter the numbre"))
b = int(input("enter the number"))
c = int(input("enter the number"))
d = int(input("enter the number"))
e = int(input("enter the number"))
f = int(input("enter the number"))

# function
def divisibility_check_3 (k):
  if (k%3==0):
    print(str(k) +" is divisible by 3")
  else:
    print(str(k) + "is not divisible by 3")  
def divisibility_check_2 (p):
  if (p%3==0):
    print(str(p) +" is divisible by 2")
  else:
    print(str(p) +" is not divisible by 2")
divisibility_check_3(a)
divisibility_check_3(b)
divisibility_check_3(c)
divisibility_check_2(d)
divisibility_check_2(e)
divisibility_check_2(f)

enter the numbre2
enter the number3
enter the number4
enter the number5
enter the number6
enter the number7
2is not divisible by 3
3 is divisible by 3
4is not divisible by 3
5 is not divisible by 2
6 is divisible by 2
7 is not divisible by 2

In [ ]:
TRY
for i in range(1,10):
  a = int(input("enter the number"))
  if (a%3 2==0):
    print(str(a) +" divisible by 3")
  else:
    print(str(a) +" not divisible by 3")

enter the number22
22 not divisible by 3
enter the number23
23 not divisible by 3
enter the number24
24 divisible by 3
enter the number25
25 not divisible by 3
enter the number26
26 not divisible by 3
enter the number27
27 divisible by 3
enter the number8
8 not divisible by 3
enter the number28
28 not divisible by 3
enter the number29
29 not divisible by 3

In [ ]:
TRY
store = ["banana","apple","orange","pineapple","grapes"]
store.append("pear")
store.remove("apple")
store.insert(0,"mango")
print(store)

['mango', 'banana', 'orange', 'pineapple', 'grapes', 'pear']

In [ ]:
TRY
#tuple
store = ("banana","apple","orange","pear","pineapple","grapes")
student = ("Eswar","maths","88"),("Tridev","maths","90")
print(store)
print(student)

('banana', 'apple', 'orange', 'pear', 'pineapple', 'grapes')
(('Eswar', 'maths', '88'), ('Tridev', 'maths', '90'))

In [ ]:
# programm make a simple calculator

# This function adds two numbers
def add(a,b):
    return a + b

# This function subtracts two numbers
def subtract(a,b):
    return a - b

# This function multiplies two numbers
def multiply(a,b):
    return a * b

# This function divides two numbers
def divide(a,b):
    return a / b

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

# take input for the user
choice = input("enter choice(1/2/3/4)")

#check if choice is one of the four option
if choice in ('1','2','3','4'):
        num1 = float(input("enter first number:"))
        num2 = float(input("enter second number:"))

        if choice == '1':
          print(num1,"+",num2,"=",add(num1,num2))
        
        elif choice == '2':
          print(num1,"-",num2,"=",subtract(num1,num2))

        elif choice == '3':
          print(num1,"*",num2,"=",multiply(num1,num2))

        elif choice == '4':
          print(num1,"/",num2,"=",divide(num1,num2))
         
        break
    
        print("invalid input")